.s20{
    font-size: 20px;
}
.s22{
    font-size: 22px;
}
.s24{
    font-size: 24px;
}
.s26{
    font-size: 26px;
}
.s28{
    font-size: 28px;
}
.s30{
    font-size: 30px;
}
.s32{
    font-size: 32px;
}
.s34{
    font-size: 34px;
}
.s36{
    font-size: 36px;
}
.s40{
    font-size: 40px;
}


/* Arial */
.font-arial {
    font-family: Arial, sans-serif;
  }
  
  /* Times New Roman */
  .font-times-new-roman {
    font-family: Times New Roman, serif;
  }
  
  /* Courier New */
  .font-courier-new {
    font-family: Courier New, monospace;
  }
  
  /* Verdana */
  .font-verdana {
    font-family: Verdana, sans-serif;
  }
  
  /* Georgia */
  .font-georgia {
    font-family: Georgia, serif;
  }
  
  /* Comic Sans MS */
  .font-comic-sans-ms {
    font-family: 'Comic Sans MS', cursive;
  }
  
  /* Impact */
  .font-impact {
    font-family: Impact, sans-serif;
  }
  
  /* Tahoma */
  .font-tahoma {
    font-family: Tahoma, sans-serif;
  }
  
  /* Trebuchet MS */
  .font-trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  /* Lucida Console */
  .font-lucida-console {
    font-family: 'Lucida Console', monospace;
  }
  
  /* Palatino Linotype */
  .font-palatino-linotype {
    font-family: 'Palatino Linotype', serif;
  }
  
  /* Lucida Sans Unicode */
  .font-lucida-sans-unicode {
    font-family: 'Lucida Sans Unicode', sans-serif;
  }
  
  /* Garamond */
  .font-garamond {
    font-family: Garamond, serif;
  }
  
  /* Bookman Old Style */
  .font-bookman-old-style {
    font-family: 'Bookman Old Style', serif;
  }
  
  /* Arial Black */
  .font-arial-black {
    font-family: 'Arial Black', sans-serif;
  }
  
  /* Franklin Gothic Medium */
  .font-franklin-gothic-medium {
    font-family: 'Franklin Gothic Medium', sans-serif;
  }
  
  /* Century Gothic */
  .font-century-gothic {
    font-family: 'Century Gothic', sans-serif;
  }
  
  /* Calibri */
  .font-calibri {
    font-family: Calibri, sans-serif;
  }
  
  /* Cambria */
  .font-cambria {
    font-family: Cambria, serif;
  }
  
  /* Candara */
  .font-candara {
    font-family: Candara, sans-serif;
  }
  
  /* Rockwell */
  .font-rockwell {
    font-family: Rockwell, serif;
  }
  
  /* Baskerville */
  .font-baskerville {
    font-family: Baskerville, serif;
  }
  
  /* Copperplate */
  .font-copperplate {
    font-family: Copperplate, sans-serif;
  }
  
  /* Didot */
  .font-didot {
    font-family: Didot, serif;
  }
