.form-control-solid{
    background-color: #f0f4f8 !important;
      border: 1px solid #bcccdc !important;
  }
  .form-control{
      box-shadow: none !important;
      width: 75% !important;
  }
 
  .required{
    font-weight: 500;
    font-size: 13px !important;
    font-family: system-ui;
    letter-spacing: 1px;
  }

  
  ::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
    font-family: sans-serif;
  }
  .form-control:focus::placeholder {
    color: transparent;
  }

 .sub-btn{
    margin-top: 15px ;
    display: block;
    /* width: 111%; */
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    padding: 0.50rem 0.95rem;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  } 
  
   .sub-btn:hover {
    background-color: #0e67f5;
  }
  .was-validated .form{
    background-image:none ;
  }