body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control-solid{
  background-color: #f0f4f8 !important;
    border: 1px solid #bcccdc !important;
}
.form-control{
    box-shadow: none !important;
    width: 75% !important;
}

.required{
  font-weight: 500;
  font-size: 13px !important;
  font-family: system-ui;
  letter-spacing: 1px;
}
.image-input.image-input-outline .image-input-wrapper {
  border: 3px solid #fff;
  box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 8%);
}
.image-input .image-input-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 0.475rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.display-image{
  right: -16px;
  top: -22px;
  border-radius: 20px;
  font-size: 22px !important;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  color: gray;
}
.position-of-image{
  /* position: absolute; */
  position: relative;
    left: 100px;
    top: -168px;
}
::placeholder {
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.form-control:focus::placeholder {
  color: transparent;
}
